@font-face {
  font-family: "FiraCodeBold";
  src: url("./../fonts/FiraCode-Bold.woff") format("woff");
  font-weight: bold; /* Ensure this matches the actual weight of the font */
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E5E5E5;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {                                                                                                                                          
  font-family: "FiraCodeBold";                                                                                                                        
  src: url("./../fonts/FiraCode-Bold.woff") format("woff");                                                                                           
  font-weight: bold; /* Ensure this matches the actual weight of the font */                                                                          
  font-style: normal;                                                                                                                                 
} 

@font-face {                                                                                                                                          
  font-family: "FiraCodeRegular";                                                                                                                        
  src: url("./../fonts/FiraCode-Regular.woff") format("woff");                                                                                           
  font-weight: normal; /* Ensure this matches the actual weight of the font */                                                                          
  font-style: normal;                                                                                                                                 
}       
              

.text-80px {                                                                                                                                          
  font-size: 85px;                                                                                                                                    
} 

.text-20px {                                                                                                                                          
  font-size: 30px;                                                                                                                                    
}                        