@import "theme.css";


@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    background: var(--background);
  }
  html {
    font-family: var(--fonts);
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    scroll-behavior: smooth;
    background: var(--background);
  }

  .responsive-padding {
    @apply md:pl-20 md:pr-20 sm:pl-16 sm:pr-16 xs:pl-10 xs:pr-10;
  }
  .marginTop{
   @apply mt-10 md:mt-10 sm:mt-5 xs:mt-5;
  }
 .pageSpacing {
   @apply xl:gap-52 lg:gap-52 md:gap-32 sm:gap-20 xs:gap-20;
 }
 .projectCardBorderRadius {
  @apply xl:rounded-3xl lg:rounded-3xl md:rounded-2xl sm:rounded-xl xs:rounded-xl
}

}


html::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
@font-face {
  font-family: "FiraCodeSemiBold";
  src: url("./../fonts/FiraCode-SemiBold.woff") format("woff");
  font-weight: bold; /* Ensure this matches the actual weight of the font */
  font-style: normal;
  font-display: swap; /* This will show fallback font until the custom font is loaded */

}
@font-face {                                                                                                                                          
  font-family: "FiraCodeBold";                                                                                                                        
  src: url("./../fonts/FiraCode-Bold.woff") format("woff");                                                                                           
  font-weight: bold; /* Ensure this matches the actual weight of the font */                                                                          
  font-style: normal;    
  font-display: swap; /* This will show fallback font until the custom font is loaded */
} 

@font-face {                                                                                                                                          
  font-family: "FiraCodeRegular";                                                                                                                        
  src: url("./../fonts/FiraCode-Regular.woff") format("woff");                                                                                           
  font-weight: normal; /* Ensure this matches the actual weight of the font */                                                                          
  font-style: normal;       
  font-display: swap; /* This will show fallback font until the custom font is loaded */
                                                                                                                          
}    

.delay-200 {
  animation-delay: 200ms; /* 200 milliseconds delay */
}

.delay-0 {
  animation-delay: 0ms; /* No delay */
}

.delay-300 {
  animation-delay: 300ms; /* No delay */
}

.delay-400 {
  animation-delay: 400ms; /* No delay */
}
