@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  @import "theme.css";
  }

body {
  background: var(--background);
  background-size: cover;      /* Scales the image to cover the entire container */
  background-position: center;  /* Centers the image within the container */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  width: 100vw;                 /* Full viewport width */
  height: 100vw;  
}

@font-face {
  font-family: "FiraCodeSemiBold";
  src: url("./../fonts/FiraCode-SemiBold.woff") format("woff");
  font-weight: bold; /* Ensure this matches the actual weight of the font */
  font-style: normal;
}
@font-face {                                                                                                                                          
  font-family: "FiraCodeBold";                                                                                                                        
  src: url("./../fonts/FiraCode-Bold.woff") format("woff");                                                                                           
  font-weight: bold; /* Ensure this matches the actual weight of the font */                                                                          
  font-style: normal;                                                                                                                                 
} 

@font-face {                                                                                                                                          
  font-family: "FiraCodeRegular";                                                                                                                        
  src: url("./../fonts/FiraCode-Regular.woff") format("woff");                                                                                           
  font-weight: normal; /* Ensure this matches the actual weight of the font */                                                                          
  font-style: normal;                                                                                                                                 
}


              

.text-80px {                                                                                                                                          
  font-size: 90px;                                                                                                                                    
} 

.text-20px {                                                                                                                                          
  font-size: 35px;                                                                                                                                    
}               
         

.delay-200 {
  animation-delay: 200ms; /* 200 milliseconds delay */
}

.delay-0 {
  animation-delay: 0ms; /* No delay */
}

.delay-300 {
  animation-delay: 300ms; /* No delay */
}

.delay-400 {
  animation-delay: 400ms; /* No delay */
}
